name: Check

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure npmrc for Artifactory
        env:
          JFROG_TOKEN_ATLAS: ${{ secrets.JFROG_TOKEN_ATLAS }}
        run: |
          cat <<EOF > ~/.npmrc
          registry=https://fsaiartifact.jfrog.io/artifactory/api/npm/fsai-private-npm-AUS-virtual/
          //fsaiartifact.jfrog.io/artifactory/api/npm/fsai-private-npm-AUS-virtual/:_authToken=${JFROG_TOKEN_ATLAS}
          registry=https://fsaiartifact.jfrog.io/artifactory/api/npm/atlas-virtual-repository-npm/
          //fsaiartifact.jfrog.io/artifactory/api/npm/atlas-virtual-repository-npm/:_authToken=${JFROG_TOKEN_ATLAS}
          EOF

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci --no-fund --no-audit --progress=false

      - name: Run checks
        run: npm run check